@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */
body{
    margin: 50px 50px;
    background-color: black;
    font-family: serif;

}
section{
    
}
.banner{
    width: 100%;
    height: 90vh;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    align-content: center;
    text-align: center;
    /* display: none; */
}
.light_text{
    color: #FFFFFF;
    opacity: 0.80;
    font-weight: 600;
    font-size: larger;
    padding-bottom: 0;
}
.heading{
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: xx-large;
    padding: 0;
}
.text{
    text-align: center;
    color: #060606;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.btn{
    color: white;
    background-color: rgb(7, 136, 7);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.card_box{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 50px;
    align-items: center;
    justify-items: center;
}
.light_text_box{
    color: #060606;
    opacity: 80%;
    text-align: center;
}
.heading_box{
    text-align: center;
}
.all-card{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
    column-gap: 50px;
}
.card{
    width: 300px;
    text-align: center;
}
.card img{
    width: 300px;
    height: 200px;
}

.btn_box{
    color: black;
    font-weight: 600;
    background: rgb(159, 245, 159);
    border: none;
    padding: 4px 12px;
    border-radius: 5px;
    margin-top: 10px;
}
.card_box .btn{
    color: white;
    background-color: rgb(7, 136, 7);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    height: 400px;
}
.about-us .left-img{
    width: 50%;
    
}
.about-us .right-content{
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
}
.about-us .left-img img{
    width: 100%;
    height: 100%;
}
.about-us .right-content{
    background: white;
    width: 50%;
}
.anchor{
    text-align: center;    
}

.anchor a img{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    margin-bottom: 50px;
}
#pizza-card{
    background: white;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#pizza-card .card-1 img{
    width: 300px;
}
#pizza-card .card-1 button{
    color: black;
    font-weight: 600;
    background: rgb(159, 245, 159);
    border: none;
    padding: 4px 12px;
    border-radius: 5px;
    margin-top: 10px;
}
.social{
    position: relative;
  background-image: url('/assets/social-bg.png');
  background-size: cover;
  background-position: center;
  color: rgb(6, 6, 6);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.overlay {
    background-color: rgba(251, 253, 253, 0.849); /* Semi-transparent overlay */
    padding: 20px;
  }